.product-detail-parent {
  padding: 100px 0px;
  //     background:red;
  height: 100%;

  .product-detail-cont {
    display: flex;
    flex-direction: column;
    .product-detail-top {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      width: 100%;
      .product-detail-top-left {
        width: 50%;
        display: flex;
        gap: 5px;
        align-items: center;
        .product-box-left {
          width: 10%;
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 5px;

          .product-box-l-top {
            height: 40px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            width: 100%;
            opacity: 0.3;
            transition: var(--trans);
            &:hover,
            &:active,
            &.active {
              opacity: 1;
            }
          }
        }
        .product-box-right {
          width: 90%;
          border-radius: 5px;
          height: 350px;
        }
      }
      // product details right side
      .product-detail-top-right {
        width: 50%;
        .product-title {
          font-size: 24px;
          font-family: "Roboto Serif", serif;
          font-weight: 500;
          margin: 0px;
          line-height: 20px;
        }
        .price-box {
          display: flex;
          gap: 20px;
          .price,
          .price-old {
            font-size: 22px;
            color: var(--accent7);
            font-family: "Roboto Serif", serif;
            font-weight: 500;
            margin: 0px;
            line-height: 20px;
          }
          .price-old {
            font-size: 18px;
            color: red;
          }
        }

        .grind-size,
        .weight {
          padding: 20px 10px;
          color: var(--accent-main);
          font-weight: 500;
          font-size: 20px;
        }
        .weight {
          padding: 20px 40px 20px 10px;
        }

        select {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          font-size: 16px;
          color: #333;
          background-color: #fff;
        }

        select:hover {
          border-color: var(--accent3);
          background-color: var(--accent6);
        }

        select:focus {
          border-color: var(--accent5);
        }

        // counter btn

        .counter {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          padding: 10px;

          .counter-btn {
            width: 40px;
            height: 40px;
            border: none;
            background-color: var(--accent3);
            color: var(--white);
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            transition: var(--trans);
            &:hover {
              background-color: var(--accent6);
              color: var(--accent-main);
            }
          }
          .counter-btn:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
          .counter-value {
            font-size: 20px;
            font-weight: bold;
            color: var(--accent-main);
            text-align: center;
            width: 40px;
          }
          .btn-new {
            padding: 10px 20px;
            background-color: var(--accent7);
            color: var(--white);
            border-radius: 5px;
            font-size: 14px;

            cursor: pointer;
            transition: var(--trans);
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }

    // Porduct Detail bottom
    .product-detail-bottom {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      .top-top {
        display: flex;
        gap: 10px;
        padding: 0px 20px;
        position: relative;
        .btn-box1,
        .btn-box2 {
          background: var(--accent3);
          padding: 10px 20px;
          border-radius: 5px;
          position: absolute;
          top: -20px;
          left: 20px;
          cursor: pointer;

          &.active {
            background-color: var(--accent5);
            color: white;
          }
        }
        .btn-box2 {
          left: 17%;
          //   background: var(--accent5);
          color: var(--accent-main);
        }
        @media only screen and (max-width: 1130px) {
          .btn-box2 {
            left: 25%;
          }
        }
      }
      .details {
        border: 1px solid rgba(0, 0, 0, 0.116);
        padding: 40px 10px 10px 10px;
        border-radius: 5px;
      }
    }

    @media only screen and (max-width: 800px) {
      .product-detail-top {
        flex-direction: column;
        .product-detail-top-left,
        .product-detail-top-right {
          width: 100%;
        }
      }
      .product-detail-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        .top-top {
          width: 100%;
          bottom: -40px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .btn-box1 {
            left: 0;
          }
          .btn-box2 {
            right: 0 !important;
            width: fit-content;
            position: absolute;
          }
        }
      }
    }

    @media only screen and (max-width: 700px) {
      .product-detail-bottom {
        .top-top {
          .btn-box2 {
            left: 42%;
          }
        }
      }
    }

    @media only screen and (max-width: 450px) {
      .product-detail-bottom {
        .top-top {
          height: 30px;
          .btn-box1 {
            left: 0;
            bottom: 0;
          }
          .btn-box2 {
            top: 110%;
            left: 0;
          }
        }
        .details {
          padding: 60px 10px 10px 10px;
        }
      }
    }
  }
}
