.home-product-parent {
  height: auto;
  padding: 50px 0;

  .home-product-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .swiper {
      width: 100%;
      height: 100%;
      padding:20px 0px 50px 0px;
    }

    .swiper-slide {
      /* General styling for slides */
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;

      .swiper-box {
        padding-bottom: 20px;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .top-box {
          width: 100%;
          border-radius: 10px;
          background: var(--accent6);
          padding: 20px;
          position: relative;
          transition: var(--trans);
          &:hover {
            background: var(--accent4);
          }
          .btn-n,
          .favourite,
          .btn-search {
            display: none;
          }
          .coffee-image {
            height: 350px;
            border-radius: 5px;
            transition: var(--trans);
          }
          .btn-n {
            transition: var(--trans);
            display: none;
            background: var(--accent-main);
            border-radius: 10px;
            color: white;
            position: absolute;
            bottom: 10px;
            left: 30%;
            right: 30%;
            padding: 10px 20px;
          }
          &:hover {
            .btn-n {
              display: block;
            }
          }
          // .favourite,
          // .btn-search {
          //   transition: var(--trans);
          //   display: flex;
          //   background: var(--accent-main);
          //   border-radius: 50px;
          //   color: white;
          //   position: absolute;
          //   top: 55%;
          //   // left: 30%;
          //   padding: 5px;
          //   right: 20px;

          //   svg {
          //     font-size: 20px;
          //   }
          // }
          // .favourite {
          //   top: 45% !important;
          // }
          // &:hover {
          //   .favourite,
          //   .btn-search {
          //     display: block;
          //   }
          // }
        }
        .bottom-box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 5px;

          .product-heading,
          .product-price {
            color: var(--accent5);
            font-size: 22px;
            font-weight: 500;
            // font-family: "Spicy Rice", serif;
          }
          .product-desc {
            color: var(--accent5);
          }
          .product-price {
          }
        }
      }
    
    }
 
    /* Custom widths for every nth slide */
    .swiper-slide:nth-child(2n) {
      width: 60%;
    }

    .swiper-slide:nth-child(3n) {
      width: 40%;
    }

    /* Default width for other slides */
    .swiper-slide {
      width: 80%;
    }

    /* Image styling (if any images are included in slides) */
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination-bullet ,.swiper-pagination-bullet-active{
    width: 30px;
    height:4px;
    border-radius: 10px;
    background: var(--accent-main);
  }
}

