.shop-parent {
  padding: 100px 0px;
  height: auto;
  background: #faf4e5;

  .shop-cont {
    display: flex;
    gap: 40px;
    .shop-label {
      width: 20%;
      border: 1px solid rgba(0, 0, 0, 0.144);
      border-radius: 10px;
      padding: 15px 10px;

      .dropdown-main {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: space-between;

        .search-field {
          position: relative;
          display: flex;
          gap: 30px;
          align-items: center;
          justify-content: center;

          input {
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.144);
            padding: 10px;
            padding-left: 30px;
            outline: none;
            width: 100%;
          }
          .search-icon-shop {
            position: absolute;
            left: 2%;
            top: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            font-size: 22px;
            color: rgba(0, 0, 0, 0.544);
          }
        }

        .dropdown-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border-radius: 5px;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, 0.144);
        }
      }
    }

    .bottom-card {
      gap: 20px;
      width: 80%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .category-box {
        width: 100%;
        aspect-ratio: 0.8;
        background: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 20px;

        .top-category {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 70%;
          }
        }

        .bottom-category {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 22px;
            letter-spacing: 0px;
            padding: 0px;
          }

          .star {
            padding-bottom: 10px;
            svg {
              color: var(--accent3);
            }
          }

          .addtocart {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            display: flex;
            padding: 10px 15px 10px 0px;
            background: var(--accent4);
            a {
              color: var(--accent-main);
            }

            .addto {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 20px;
              background: var(--accent4);

              .add-to-name {
                font-size: 20px;
              }

              span {
                svg {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.shop-bottom-mov {
  display: none !important;
}

.shop-bottom-mov {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  .category-div,
  .discount-div,
  .price-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .shop-parent {
    .shop-cont {
      .bottom-card {
        grid-template-columns: repeat(2, 1fr);

        .category-box {
          .top-category {
          }

          .bottom-category {
            h3 {
              font-size: 18px;
            }

            .star {
              padding-bottom: 10px;
              svg {
                color: var(--accent3);
              }
            }

            .addtocart {
              align-items: center;
              justify-content: space-between;
              width: 100%;
              display: flex;
              padding: 10px 15px 10px 0px;
              background: var(--accent4);
              a {
                color: var(--accent-main);
              }

              .addto {
                .add-to-name {
                  font-size: 16px;
                }
                span {
                  svg {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .shop-parent {
    .shop-cont {
      .bottom-card {
        grid-template-columns: repeat(2, 1fr);

        .category-box {
          width: 90%;
          aspect-ratio: 0.8;

          .top-category {
            img {
              width: 50%;
            }
          }

          .bottom-category {
            h3 {
              font-size: 16px;
            }

            .star {
              padding-bottom: 10px;
              svg {
                color: var(--accent3);
              }
            }

            .addtocart {
              .addto {
                .add-to-name {
                  font-size: 16px;
                }
                span {
                  svg {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .shop-parent {
    .shop-cont {
      .bottom-card {
        grid-template-columns: repeat(1, 1fr);

        .category-box {
          width: 70%;
          aspect-ratio: 0.8;

          .top-category {
            img {
              width: 50%;
            }
          }

          .bottom-category {
            h3 {
              font-size: 16px;
            }

            .star {
              padding-bottom: 10px;
              svg {
                color: var(--accent3);
              }
            }

            .addtocart {
              .addto {
                .add-to-name {
                  font-size: 16px;
                }
                span {
                  svg {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .shop-parent {
    .shop-cont {
      align-items: center;
      justify-content: center;
      .shop-label {
        display: none;
      }
      .bottom-card {
        grid-template-columns: repeat(1, 1fr);

        .category-box {
          width: 100%;
          aspect-ratio: 0.8;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid;

          .top-category {
            img {
              width: 50%;
            }
          }

          .bottom-category {
            h3 {
              font-size: 16px;
            }

            .star {
              padding-bottom: 10px;
              svg {
                color: var(--accent3);
              }
            }

            .addtocart {
              .addto {
                .add-to-name {
                  font-size: 16px;
                }
                span {
                  svg {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .shop-bottom-mov {
    display: flex !important;
  }
}
