:root {
  --accent-main: #1c1108;
  --accent-text: #514242;
  --accent3: #dcb287;
  --accent4: #efdfc5;
  --accent5: #794f2e;
  --accent6: #f5ede7;
  --accent7: #914800;
  --black: #000003;
  --white: #fff;
  --unit: 20px;
  --trans: all 0.33s ease-in-out;
  --trans-q: all 0.15s ease-in-out;
  --shadow: 0px 0px 30px rgba(0, 0, 0, 0.116);
  --width: 1160px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: "Roboto Serif", serif;
  // border:1px solid green;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Spicy+Rice&display=swap");

.parent {
  width: 100%;
  .cont {
    max-width: var(--width);
    padding: 0px calc(var(--unit) / 2);
    margin: auto;
    height: 100%;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 28px;
  letter-spacing: 0.7px;
  word-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 35px;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  line-height: 120%;
  padding: 10px 0px;
  letter-spacing: 1.5px;
  color: var(--accent-main);
}

body {
  overflow-x: hidden;
  width: 100%;
}


.bg-img-cover {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.bg-img-contain {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.line {
  width: 100%;
  background: rgba(0, 0, 0, 0.116);
  height: 1px;
}
