.parent-our-coffee {
  margin: 50px 0px;
  .cont-our-coffee {
    display: flex;
    border: 1px solid;
    padding: 10px;
    .left-our-coffee {
      width: 50%;

      .img-coffee-boy {
        background: url("../../assets/boy_coffee.jpg");
        width: 350px;
        aspect-ratio: 3/4;
        border-radius: 10px;
        position: relative;

        &::after {
          content: "";
          width: 350px;
          aspect-ratio: 3/4;
          background-color: var(--accent2);
          position: absolute;
          z-index: -1;
          top: 1%;
          left: 1%;
          border-radius: calc(var(--unit) / 2);
        }
      }
    }
    .right-our-coffee {
      width: 50%;
    }
  }
}
